<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]POS SYSTEM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SCS_POS_SYSTEM.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="py-4 border border-b-2 bg-blue-600">
            <ul>
                <li>POS SYSTEM</li>
            </ul>
        </nav>
    </header>
    <div class="">
        <main role="main" class="flex">
            <section class="flex-1">
                @RenderBody()
            </section>
            <section class="bg-blue-600 border border-b-2 px-12 h-auto">
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
                <p>side tab</p>
            </section>
        </main>
    </div>

    <footer class="border-top footer text-muted bg-blue-600">
        <div class="container">
            &copy; 2024 - SCS_POS_SYSTEM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
